<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toprestaurants"
        tools:targetApi="31">
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyReserveActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterReserveActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ReservesListView"
            android:exported="false" />
        <activity
            android:name=".CustomersListView"
            android:exported="false" />
        <activity
            android:name=".RestaurantsListView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>